@inherits LayoutComponentBase

<PageTitle>JusiLms</PageTitle>

<MudAppBar Elevation="26" Class="roofed-nav">
    <MudButton Variant="Variant.Text" Size=Size.Large Class="heroshima text-large text-white" Href="/">Insta Shifu</MudButton>
    <MudSpacer />
    <AuthorizeView>
        @if(context.User.IsInRole("Admin"))
        {
            <MudButton Class="shifu-button" Href="/Admin">Мой кабинет</MudButton>
        }
        else
        {
            <MudButton Class="shifu-button" Href="/Account">Мой кабинет</MudButton>
        }
        <MudButton Variant="Variant.Text" Class="text-white" Href="/Identity/Account/Logout">Выход</MudButton>
    </AuthorizeView>
    
</MudAppBar>


<MudMainContent Class="px-3">
    <div class="row justify-content-center h-100 p-3">
        <div class="col-10 col-md-11 w-100 h-100 p-5 radius-30 shadow" style="background-color:#F5E7D4">
            @Body
        </div>
    </div>
</MudMainContent>