@page "/account"
 
<div class="row">
    <div class="col-3">

    </div>
    <MudDivider Vertical="true" FlexItem="true" />
    <div class="col-6">

    </div>
    <div class="col-3">

    </div>
</div>

@code {

}
