.header-container {
    width: 375px;
    font-size: 1.92em;
    font-weight: 700;
    text-transform: uppercase;
}


.dark-card {
    border-radius: 10px;
    background: #5E5941;
}

.dark-text {
    color: #5E5941;
}

.grey-card {
    background: #AEAEAE;
    color: #808080;
}

.grey-text {
    color: #808080;
}

.border-end-2 {
    border-right: 1px solid black;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 992px ) {
    .border-end-2 {
        border-right: none;
        border-bottom: 1px solid black;
    }


}

@media(max-width: 720px) {
    .header-container {
        width: 275px;
        font-size: 1.49em;
    }
}

.radius {
    border-radius: 10px;
}
