.shadow-card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

.all-homeworks {
    background: #C2654F;
}

.hw {
    height: 100px;
}

.header-container {
    font-size: 1.72em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
}

.over-text {
    overflow: hidden;
    text-wrap: nowrap;
}

.access {
    color: #457335;
    text-shadow: 0.4892368018627167px 0.4892368018627167px 12.23091983795166px #64E705;
}

.dont-start {
    color: #E7522B;
    text-shadow: 0px 0px 12.23091983795166px #FC645C;
}

.avatar {
    width: 172px;
    height: 172px;
    object-fit: cover;
    transition: width ease 0.3s;
    transition: height ease 0.3s;
}

.avatar-container {
    height: 172px;
}

.dark-card {
    border-radius: 10px;
    background: #5E5941;
    overflow-wrap: break-word;
    word-wrap: revert;
}

.dark-text {
    color: #5E5941;
}

.grey-card {
    background: #AEAEAE;
    color: #808080;
}

.grey-text {
    color: #808080;
}

.border-end-2 {
    border-right: 1px solid black;
}

.border-end-1 {
    border-right: 1px solid black;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 992px ) {
    .border-end-2 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .border-end-1 {
        border-right: none;
    }
}

@media(max-width: 720px) {

    .hw {
        height: 82px;
    }

    .header-container {
        font-size: 1.49em;
    }

    .avatar {
        width: 122px;
        height: 122px;
    }

    .avatar-container {
        height: 92px;
    }
}

@media(max-width: 500px) {

    .hw {
        height: 48px;
    }

    .dark-card {
        border-radius: 5px;
    }

    .header-container {
        font-size: 0.475em;
    }

    .avatar {
        width: 66px;
        height: 66px;
        border-radius: 5px;
    }

    .avatar-container {
        height: 66px;
    }
}
